@{
  Layout = "_Layout";
}

<form asp-action="AddPhoto" asp-controller="Products" method="post" enctype="multipart/form-data">
  <input type="file" id="file1" name="file1" multiple="multiple" />
  <button type="submit" class="btn btn-info">Upload Picture</button>
</form>