<!DOCTYPE html>
<html>
	<head>
		<title>In Stock Tracker</title>
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
		<script src="~/js/site.js"></script>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-inverse fixed-top">
				<div class="navbar-header">
					@HTML.ActionLink("InStockTracker", "Index", "Home", new {@class="navbar-brand"})
				</div>
			</nav>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalog<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>@HTML.ActionLink("Full Catalog", "Index", "Product")</li>
          </ul>
        </li>
      </ul>
    @RenderBody()
		</div>
	</body>
</html>