/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /* background-image: linear-gradient(#FABC3C, #E5625E); */
  background-image: linear-gradient(to bottom right, #FABC3C, #E5625E);
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* custom styles
-------------------------------------------------------------- */

.btn-info {
  color: white !important;
}

.content {
  margin-top: 8rem;
}

.card {
  text-align: center !important;
  margin-top: 1rem;
}

.card-footer {
  text-align: center !important;
}

.card-form {
  text-align: center;
}

.card-header {
  color: white;
  background-color: #17a2b8;
}

.carousel-inner {
  text-align: center;
}

.cart-card-list {
  text-align: left;
}

.categories-image {
  width: 100%;
}

.col-md-6 {
  text-align: center;
}

.details-image {
  max-height: 30rem;
  max-width: 30rem;
}

.form-inline {
  text-align: center !important;
}

.input-group {
  text-align: center;
}

.navbar > a {
  color: #FFE1A8;
}

.card-img-bottom {
  margin: 1rem;
  width: 80%;
}

.navbar {
  background-color: #17a2b8;
}

.nav-logo {
  float: left;
  width: 62%;
}

.product-details-btn {
  border-radius: 1rem;
}

.product-details-header {
  color: white ;
}

.register-header {
  color: white;
}

#button-addon3 {
  color: solid black;
}

.logout-button {
  background: inherit!important;
  background-color: inherit!important;
  color: #FFE1A8;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.logout-button:focus {
  outline: none;
  box-shadow: none;
}

.img-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

td {
  width: 20%;
  border-right: none;
}