@{
	Layout = "_Layout";
}

<form asp-controller="Products" asp-action="Results" method="post">
	<div class="input-group">
		<input type="search" class="form-control" placeholder="Search" name="name" id="name">
		<div class="input-group-append">
			<button class="btn btn-secondary" type="submit">Search</button>
		</div>
	</div>
</form>

<div class="card-columns">
	<div class="card">
		<div class="card-header"><img src="~/img/electronicslogo.png"></div>
		<img class="card-img-bottom" src="~/img/electronics.jpg" alt="electronics image" />
		<a href="/categories/details/1" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/applianceslogo.png"></div>
		<img class="card-img-bottom" src="~/img/appliances.jpg" alt="appliance image" />
		<a href="/categories/details/2" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/clothinglogo.png"></div>
		<img class="card-img-bottom" src="~/img/clothing.jpg" alt="clothes image" />
		<a href="/categories/details/3" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/bookslogo.png"></div>
		<img class="card-img-bottom" src="~/img/books.jpg" alt="books image" />
		<a href="/categories/details/4" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/toolslogo.png"></div>
		<img class="card-img-bottom" src="~/img/tools.jpg" alt="tools image" />
		<a href="/categories/details/5" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/homegoodslogo.png"></div>
		<img class="card-img-bottom" src="~/img/homegoods.jpg" alt="home image" />
		<a href="/categories/details/6" class="stretched-link"></a>
	</div>

	<div class="card">
		<div class="card-header"><img src="~/img/gardenlogo.png"></div>
		<img class="card-img-bottom" src="~/img/garden.jpg" alt="garden image" />
		<a href="/categories/details/7" class="stretched-link"></a>
	</div>
</div>