@{
  Layout = "_Layout";
}

@model IEnumerable<InStockTracker.Models.Product>

<div class="card-columns">
@foreach(Product product in Model)
{
  <div class="card">
    <div class="card-header"><h4 class="card-title">@product.Name</h4></div>
    <div class="card-body">
      <p>@product.Description</p>
      <p>@product.Manufacturer</p>
      <p>@product.Price</p>
    </div>
    <a href="product/details/@product.ProductId" class="stretched-link"></a>
}
</div>